.idea
.vscode
*.pyc
*~
db.sqlite3
.sass-cache/
memory_remedy/localsettings.py
memory_remedy/local.py
static_root/
node_modules/
media/
docs/_build
_dist/
.env.dev
.env.production
.DS_Store
/venv/
*.code-workspace