{% extends "web/layout_simple.html" %}
{% load static %}

{% block body %}
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-multiline is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <h3>Your subscription is canceled!</h3>
            <br><br>
            <a class="btn btn-primary text-light" href="/accounts/subscription">Go back</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    $(document).ready(() => {
      setTimeout(() => {
        window.location.href = "/accounts/subscription";
      }, 1000);
    });
  </script>
{% endblock %}