{% load static %}
<div class="columns columns-reversed my-2">
{#  <div class="column is-one-quarter">#}
{#    <img class="img-fluid" src="{% static 'images/undraw/undraw_savings.svg' %}" alt="Upgrade to Save">#}
{#  </div>#}
  <div class="column has-text-centered"> {# is-three-quarters #}
    <h1 class="title is-size-4">My Subscription</h1>
    <p class="subtitle">You're not currently subscribed to a plan.</p>
    <p class="my-1">
      Choose the plan that best fits your needs below to gain access
      to additional functionality on our site!
    </p>
  </div>
</div>
